<%= superadmin_tabs_generator() %>

<div class="objectListWithTab">
	<div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<span id="item_count">Saleforce manager</span>
	</div><div class="blockCornerRight"></div>

	<div class="contentList superadmin">

	</div>
</div>
